@charset "UTF-8";
@import url("./reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Outfit:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,700&display=swap');

:root{
    --app-body-bg:#13161c;

}

.container{
    width: min(100% - 30px,1080px);
    margin-inline:auto;
}