@charset "UTF-8";
@import url("./reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

:root{
    --app-body-bg:#13161c;
    --app-font-nunito: "Nunito Sans", sans-serif;
}

.container{
    width: min(100% - 30px,1080px);
    margin-inline:auto;
}

/*------------------------------*/
/*----------- HEADER -----------*/
/*------------------------------*/

header {
    height: 15vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #000;
}

.flexbox {
    display: flex;
    width: calc(100% - 5em);
}

.logo {
    width: 26.3%;
    max-height: 15vh;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.logo img {
    width: 7em;
    height: 7em;
    zoom: 110%;
}

nav {
    width: 25.3%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    gap: 2em;
}

a {
    text-decoration: none;
    font-family: var(--app-font-nunito);
    color: #fff;
    transition: width 0.3s;
}

a:hover {
    color: #7ECF1E;
    border-bottom: 3px solid #7ECF1E;
}

.search-div {
    width: 26.65%;
    display: grid;
    place-items: center;
}

.search-div input {
    background-color: #fff;
    border-radius: 1em;
    border: 4px solid transparent;
    height: 2.5em;
    width: 70%;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 1.3em;
    background-position: 10px 5px;
    padding-left: 3em;
    font-family: var(--app-font-nunito);
    font-size: 15px;
}

.search-div input:focus {
    border: 4px solid #7ECF1E;
}

.access-div {
    width: 21.75%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.sign-up, .log-in {
    width: 7em; 
    height: 3em;
    font-family: var(--app-font-nunito);
    border-radius: 1em;
}

.sign-up {
    background: #008000;
}

.log-in {
    background: #0000ff;
}