@charset "UTF-8";
@import url(./base.css);
@import url(./reset.css);


body {
    font-family:'Outfit', sans-serif;
}

main {
    min-height: 100dvh;
}

.hero-banner {
    position: relative;
    background-image: url(../images/ai-gen2.jpg);
    height: 60rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h2 {
    position: absolute;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop {
    position: absolute;
    width: 150px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-70%, -50%);
    border-radius: 10px;
    background-color: #0046BE;
    color: #fff;
    transform: translateX(-50%);
}

/*** Section 2***/

.h3 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #BB0628;
}

.display {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.sale {
    flex: 1 0 calc(25% - 15px);
}

.display figure img {
    width: 100%;
    height: 25rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.2);
}

.sale figcaption {
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    color: #BB0628;
}

.sale figcaption:last-child {
    color: #fff;
    background-color: #0046BE;
    width: 90px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
}

span {
    display: inline;
    margin-left: 50px;
    font-size: 12px;
}

.fa-star {
    font-size: 12px;
    color: #fecf0a;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

.fa-star::before, .star::after {
    content: "\f005\f005\f005\f005\f089";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: inherit;
}

.fa-star::after {
    content: "\f005";
}

/***    Section 3   ***/

.h4 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.shop-by-category {
  margin-top: 30px;
  background-color: #f8f8f8;
  width:100%;
}
.grid {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto auto;
    padding: 80px;
    align-items: center;
    justify-content: center;
    /* background-color: #f8f8f8;
    border-radius: 4px; */
    width: 100%;
    height: 60rem;
    margin-bottom: 100px;
}

.grid figure {
    width: 14rem;
    height: 14rem;
}

.grid img {
    width: 14rem;
    height: 14rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.4);
}

.grid figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #000;
}

/*** Hover ***/

.shop:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: #003896;
}

.sale figcaption:last-child:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: #003896;
}

.sale img:hover, .grid img:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid #f2f1f1;
}

.grid figcaption:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: #0047bd;
}
.link-product-details{
    text-decoration: none;
    color: #fff;
}
/***    Media Queries   ***/

@media screen and (max-width: 1080px) {
    .shop {
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1000px) {
    .sale {
        flex: 1 0 calc(50% - 7.5px);
        margin-bottom: 20px;
    }
    .display {
        width: 80%;
        margin: auto;
        gap: 10px 15px;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        margin: auto;
    }
    .h2 {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .display {
        width: 50%;
        margin: auto;
        gap: 10px 15px;
    }
    .sale {
        flex: 1 0 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .shop {
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
}