@charset "UTF-8";
@import url(./base.css);
@import url(./reset.css);


main {
    min-height: 100dvh;
}

.hero-banner {
    position: relative;
    background-image: url(../images/collage.jpg);
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop {
    position: absolute;
    width: 140px;
    height: 70px;
    font-size: 26px;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-80%, -50%);
    border-radius: 6px;
}

/*** Section for the 3 images ***/

.display {
    display: flex;
    margin-top: 140px;
    height: 45rem;
    gap: 15px;
}

.sale {
    width: 100%;
}

figure img {
    width: 100%;
    height: 30rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.2);
}

figcaption {
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    color: blue;
}
