@charset "UTF-8";
@import url("./base.css");


.row{
  display: flex;
  gap: 10px;
}
.items-row{
    display: flex;
    gap: 10px;
}

.description-row{
    display: flex;
    gap: 10px;
}


.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.column{
    border-radius: 15px;
}

.product-description {
  margin: 60px;
  width: 50%;
}
.product-image {
    width: 60%;
}

.product-overview {
    width: 40%;
}

.product-image figure img{
    height: 540px;
    width: 65%;
    border-radius: 15px;
    object-fit: cover;
}


.product-image div{
    top:43%;
    background-color:var(--white-bg-color);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px #e6e6e6, -2px 2px #e6e6e6;
    cursor: pointer;
}

.bold-letter{
    font-weight: bold;
}

.product-image i{
    font-size: 30px;
}

.product-image .left-arrow{
    position: absolute;
    right: 86%;
}

.product-image .right-arrow{
    position: absolute;
    right: 45%;
}

.review-stars{
    width: 110px;
}

.review-stars i{
    color: #ffde0a;
}

.product-overview{
    box-shadow: 2px 2px #e6e6e6, -2px 2px #e6e6e6, 2px -2px #e6e6e6;
    padding: 25px;
}
.left-space{
    margin-left: 20px;
}

.row .purchase-options{
    border: 1px solid #e6e6e6;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-right: 10px;
    flex-direction: column;
    cursor: pointer;
}

.purchase-options .shipping-items{
    color: #000000;
    height: 50px;
    width: 50px;
    font-size: 40px;
}

.add-to-car{
    font-size: 18px;
    margin-right: 10px;
    height: 60px;
    width: 310px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
}

.quantity{
    margin-top: 20px;
    border:1px solid #e6e6e6 ;
    width: 150px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    padding-left: 20px;
}
.add-quantity-options {
    width: 100%;
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;

}
.add-quantity-options p{
    position: absolute;
    top: 57.5%;
    right: 33.5%;
    width: 75px;
    height: 45px;
    line-height: 45px;
    border-right: 1px solid #e6e6e6 ;
}

.product-titles{
    padding: 0 50px 0 50px;
}

.product-specifications{
    background-color: #f2f2f2;
}

.product-specifications h3{
    margin-bottom: 10px;
}

.sections-detail-products{
    margin-top: 80px;
}

.table{
    width: 100%;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.table td{
    border: 1px solid #000000;
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.table td:nth-child(odd){
    background-color: #f2f2f2;
    font-weight: bold;
}

.product-specifications-tables{
    padding: 60px;
}

.product-specifications-tables div {
    margin-bottom: 40px;
}

.product-specifications-tables div h2{
    margin-bottom: 20px;
}


/*------------------------------*/
/*----- RESPONSIVE DESIGN ------*/
/*------------------------------*/

@media screen and (max-width: 1846px) {
    .row .purchase-options{
        height: 140px;
        width: 140px;
    }

    h2{
        font-size: 30px;
    }
    .purchase-options i{
        font-size: 15px;
    }
    .purchase-options p{
        font-size: 15px;
    }
    .add-quantity-options {
        width: 100%;
        padding: 0 40px 0 40px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

}
@media screen and (max-width: 1846px) {
    h2{
        font-size: 30px;
    }
}

@media screen and (max-width: 1800px) {
    h2{
        font-size: 29px;
    }
}
@media screen and (max-width: 1750px) {
    h2{
        font-size: 26px;
    }
}

@media screen and (max-width: 1651px) {
    h2{
        font-size: 20px;
    }
}


@media screen and (max-width: 1698px) {
    .row .purchase-options{
        height: 120px;
        width: 120px;
    }

    h2{
        font-size: 25px;
    }
    .purchase-options i{
        font-size: 15px;
    }
    .purchase-options p{
        font-size: 15px;
    }
    .add-quantity-options {
        width: 100%;
        padding: 0 40px 0 40px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

}



@media screen and (max-width: 1599px) {
    .row .purchase-options{
        height: 105px;
        width: 105px;
    }

    h2{
        font-size: 20px;
    }
    .purchase-options i{
        font-size: 10px;
    }
    .purchase-options p{
        font-size: 10px;
    }
    .add-quantity-options {
        width: 100%;
        padding: 0 40px 0 40px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

}
@media screen and (max-width: 1586px) {
    h2{
        font-size: 18px;
    }
}


@media screen and (max-width: 1477px) {
    .reviews-section i {
        font-size: 12px;
    }
    .review-stars{
        width: 100px;
    }

    .row .purchase-options{
        height: 100px;
        width: 100px;
    }

    .purchase-options i{
        font-size: 10px;
    }
    .purchase-options p{
        font-size: 10px;
    }
    .product-image {
        width: 60%;
    }
    
    .product-overview{
        width: 40%;
        padding: 5px;
        height: 500px;
    }
    
    .product-image figure img{
        height: 500px;
        width: 70%;
        border-radius: 15px;
    }
    
    .product-image .left-arrow{
        position: absolute;
        top: 50%;
        right: 83%;
    }
    
    .product-image .right-arrow{
        position: absolute;
        top: 50%;
        right: 45%;
    }

    .table td{
        border: 1px solid #000000;
        width: 400px;
        height: 40px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .add-quantity-options {
        width: 100%;
        padding: 0 50px 0 50px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    .quantity{
        padding: 10px;
    }

    .product-titles{
        padding: 0 10px 0 10px;
        width: 80%;
    }
    
}
@media screen and (max-width: 1369px){
    .description-row{
       flex-direction: column;
    }
    .product-description {
      width: 100%;
    }
}

@media screen and (max-width: 1325px) {
    .purchase-options p{
        font-size: 10px;
    }
    .product-image {
        width: 60%;
    }
    
    .product-overview{
        width: 40%;
        padding: 5px;
        height: 500px;
    }
    
    .product-image figure img{
        height: 500px;
        width: 70%;
        border-radius: 15px;
    }
    
    .product-image .left-arrow{
        position: absolute;
        top: 50%;
        right: 83%;
    }
    
    .product-image .right-arrow{
        position: absolute;
        top: 50%;
        right: 45%;
    }

    .table td{
        border: 1px solid #000000;
        width: 400px;
        height: 40px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .add-quantity-options {
        width: 100%;
        padding: 0 50px 0 50px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    .quantity{
        padding: 10px;
    }

    .product-titles{
        padding: 0 10px 0 10px;
        width: 80%;
    }
    
}
@media screen and (max-width: 1150px) {
    .add-to-car{
        width: 100px;
    }
    .quantity{
        width: 100px;
    }
    
}

@media screen and (max-width: 1145px) {
    .reviews-section i {
        font-size: 15px;
    }
    .review-stars{
        width: 150px;
    }

    .row .purchase-options{
        height: 130px;
        width: 130px;
    }
    .row{
        flex-direction: column;
    }
    .product-image {
        width: 100%;
    }
    
    .product-overview{
        width: 100%;
        padding: 15px;
    }
    
    .product-image figure img{
        height: 540px;
        width: 100%;
        border-radius: 15px;
    }

    .sections-products-image-overview {
      width: 90%;
      min-width: 0;
    }
    
    .product-image .left-arrow{
        position: absolute;
        top: 50%;
        right: 83%;
    }
    
    .product-image .right-arrow{
        position: absolute;
        top: 50%;
        right: 12%;
    }

    .add-quantity-options p{
        position: absolute;
        top: 57.5%;
        right: 33.5%;
        width: 75px;
        height: 45px;
        line-height: 45px;
        border-right: 1px solid #e6e6e6 ;
    }

    .table td{
        border: 1px solid #000000;
        width: 400px;
        height: 40px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .add-quantity-options {
        width: 100%;
        padding: 0 80px 0 80px;
        display: flex;
        justify-content: space-between;
    }

    .quantity{
        padding: 10px;
    }

    .product-titles{
        padding: 0 80px 0 80px;
    }
    
}


@media screen and (max-width: 897px) {
    .add-quantity-options {
        width: 100%;
        padding: 0 40px 0 40px;

    }
    .add-to-car{
        width: 200px;
    }
}
